.sidebarOption {
  color: rgb(179, 179, 179);
  height: 30px;
  cursor: pointer;
  transition: 200ms color ease-in;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.sidebarOption:hover {
  color: white;
}

.sidebarOption__icon {
  padding-right: 6px;
  padding-left: 6px;
}

.sidebarOption > p {
  margin-top: 5px;
  margin-left: 11px;
  font-size: 12px;
}
